<tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{description}}</td>
    <td>${{asset_value}}</td>
    <td>{{#if is_rented}} True {{else}}False{{/if}}</td>
    <td>{{location}}</td>
    <td>{{company_renting}}</td>
    <td>${{rental_rate}}</td>
    <td>{{time_checked_out}}</td>
    <td>{{time_checked_in}}</td>
    <td>{{realized_returns}}</td>
</tr>