<tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{description}}</td>
    <td>${{asset_value}}</td>
    <td>{{#if is_rented}} True {{else}}False{{/if}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>